// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Bootswatch
@import "bootswatch";

.mb-0 {
  margin-bottom: 0em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mt-0 {
  margin-top: 0em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-1 {
  margin-right: 3px;
}

.mr-2 {
  margin-right: 6px;
}

.mr-3 {
  margin-right: 9px;
}

.mr-4 {
  margin-right: 12px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 3px;
}

.ml-2 {
  margin-left: 6px;
}

.ml-3 {
  margin-left: 9px;
}

.ml-4 {
  margin-left: 12px;
}

.mt-5p {
  margin-top: 5px;
}

.noutline {
  outline: none!important;
}

.text-white {
  color: white;
  text-shadow: 2px 2px #39423f;
  h2 {
    color: #d0cece;
  }
}

.avatar {
  border-radius: 100%;
  border: 2px solid grey;
}

.white {
  color: white;
}

textarea {
  resize: none;
}

.hlink,
.hlink:hover {
  color: #444;
}

.card {
  .card-body {
    padding: 0 20px;
    height: 150px;
    img {
      border: 3px solid white;
    }
  }
  .avatar {
    margin-top: -40px;
    border-color: #dee4e2;
  }
  .btn-follow {
      margin-top: 6px;
    }
  .card-head {
    color: black;
    font-size: 18px;
    font-weight: bold;   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 2px; 
    overflow: hidden;
  }
  .card-span {
  font-size: 16px;
  color: #444;
  }

}

.not-found {
    margin-top: 150px;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.1; 
}
.panel a {
  text-decoration: none;
}

.navbar-padding {
  padding: 9px!important;
}

[v-cloak] {
  display: none;
}